<%= form_for(@hoik) do |f| %>
  <% if @hoik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hoik.errors.count, "error") %> prohibited this hoik from being saved:</h2>

      <ul>
      <% @hoik.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :corp_no %><br />
    <%= f.number_field :corp_no %><br />
  </div>
  <div class="field">
    <%= f.label :pc %><br />
    <%= f.text_field :pc %><br />
  </div>
  <div class="field">
    <%= f.label :toi_no %><br />
    <%= f.number_field :toi_no %><br />
  </div>
  <div class="field">
    <%= f.label :pp %><br />
    <%= f.number_field :pp %><br />
  </div>
  <div class="field">
    <%= f.label :mr %><br />
    <%= f.number_field :mr %><br />
  </div>
  <div class="field">
    <%= f.label :egr_fr %><br />
    <%= f.number_field :egr_fr %><br />
  </div>
  <div class="field">
    <%= f.label :egr_bb %><br />
    <%= f.number_field :egr_bb %><br />
  </div>
  <div class="field">
    <%= f.label :egr_sr %><br />
    <%= f.number_field :egr_sr %><br />
  </div>
  <div class="field">
    <%= f.label :egr_or %><br />
    <%= f.text_field :egr_or %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>