<h1> Listing hoiks</h1>
<h1><%= @corp.corp_name %></h1>

<p>建設工事等</p>

<table>
  <tr>
    <th>hoik:id</th>
    <th>corp:no</th>
    <th>分類grp_name</th>
    <th>業種toi_name</th>
    <th>許可区分pc</th>
    <th>Ｐ点pp</th>
    <th>平均完成工事高（千円）mr</th>
    <th>１級技術者数egr_fr</th>
    <th>基幹技術者数egr_bb</th>
    <th>２級技術者数egr_sr</th>
    <th>その他技術者数egr_or</th>
    <th>備考</th>
    <th></th>
    <th></th>
  </tr>

<% @hoiks.each do |hoik| %>
  <tr>
    <td><%= hoik.id %></td>
    <td><%= hoik.corp.corp_no %></td>
    <td><%= hoik.toi.grp.grp_name %></td>
    <td><%= hoik.toi.toi_name %></td>
    <td><%= hoik.pc %></td>
    <td><%= hoik.pp %></td>
    <td><%= hoik.mr %></td>
    <td><%= hoik.egr_fr %></td>
    <td><%= hoik.egr_bb %></td>
    <td><%= hoik.egr_sr %></td>
    <td><%= hoik.egr_or %></td>
    <td><%= hoik.note %></td>
    <td><%= link_to 'Edit', edit_corp_hoik_path(hoik.id) %></td>
    <td><%= link_to 'Destroy', hoik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>