<p id="notice"><%= notice %></p>

<p>
  <b>hoik_id:</b>
  <%= @hoik.id %><br />
  <b> corp_no:</b>
  <%= @hoik.corp_no %>
</p>


<%= link_to 'Edit', edit_hoik_path(@hoik) %> |
<%= link_to 'Back', hoiks_path %>
