<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>入札参加資格登録業者</h1>
<% @corps.each do |corp| %>
  <div class="entry">
    <%= button_to '推薦する', line_items_path(corp_id: corp) %>
    <span class ="no"><%= corp.corp_no %></span>
    <h3><%= corp.corp_name %></h3>
    <p><%= corp.corp_add %></p>
  </div>
<% end %>
