<p id="notice"><%= notice %></p>

<p>
  <b>受付番号:</b>
  <%= @corp.corp_no %>
</p>

<p>
  <b>業者名:</b>
  <%= @corp.corp_name %>
</p>

<p>
  <b>住所:</b>
  <%= @corp.corp_add %>
</p>

<p>
  <b>電話番号:</b>
  <%= @corp.corp_tel %>
</p>

<p>
  <b>fax:</b>
  <%= @corp.corp_fax %>
</p>

<p>
  <b>mail:</b>
  <%= @corp.corp_mail %>
</p>

<%= link_to 'Edit', edit_corp_path(@corp) %> |
<%= link_to 'Back', corps_path %>
