<p id="notice"><%= notice %></p>

<p>
  <b>受付番号:</b>
  <%= @corp.corp_no %>
</p>

<p>
  <b>業者名:</b>
  <%= @corp.corp_name %>
</p>

<p>
  <b>住所:</b>
  <%= @corp.corp_add %>
</p>

<p>
  <b>電話番号:</b>
  <%= @corp.corp_tel %>
</p>

<p>
  <b>fax:</b>
  <%= @corp.corp_fax %>
</p>

<p>
  <b>mail:</b>
  <%= @corp.corp_mail %>
</p>

<p>
  <b>希望業種:ーーーーーー</b>
</p>
<p>
  <b>建設工事等:</b>
</p>
<p>
  <b>建設コンサルタント等:</b>
</p>
<p>
  <b>物品役務等:</b>
</p>

<ul>
<% @corp.hois.each do |hoi| %>
<li>
  <%= hoi.corp_no %>
  <%= hoi.toi_no %>
  <%= Toi.find(hoi.toi_no).toi_name %>
</li>
<% end %>
</ul>
<%= link_to '希望業種一覧', corp_hois_path(@corp) %> |
<%= link_to 'Edit', edit_corp_path(@corp) %> |
<%= link_to 'Back', corps_path %>
