<h1>Listing hois</h1>

<table>
  <tr>
    <th>corp_no</th>
    <th>pc</th>
    <th>toi_id</th>
    <th>pp</th>
    <th>mr</th>
    <th>egr_fr</th>
    <th>egr_bb</th>
    <th>egr_sr</th>
    <th>egr_or</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @hois.each do |hoi| %>
  <tr>
    <td><%= hoi.corp_no %></td>
    <td><%= hoi.pc %></td>
    <td><%= hoi.toi_id %></td>
    <td><%= hoi.pp %></td>
    <td><%= hoi.mr %></td>
    <td><%= hoi.egr_fr %></td>
    <td><%= hoi.egr_bb %></td>
    <td><%= hoi.egr_sr %></td>
    <td><%= hoi.egr_or %></td>
    <td><%= link_to 'Show', hoi %></td>
    <td><%= link_to 'Edit', edit_hoi_path(hoi) %></td>
    <td><%= link_to 'Destroy', hoi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hoi', new_hoi_path %>
