<p id="notice"><%= notice %></p>

<p>
  <b>Hoi_id:</b>
  <%= @hoi.id %><br />
  <b> corp_no:</b>
  <%= @hoi.corp_no %>
</p>


<%= link_to 'Edit', edit_hoi_path(@hoi) %> |
<%= link_to 'Back', hois_path %>
